[Unit]
Description=Copy ThinClient Configuration
ConditionPathExists=/boot/tc-config
Before=dhcpcd.service
After=systemd-rfkill.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mv /boot/tc-config /home/thinclient/config
ExecStartPost=/bin/chown thinclient:thinclient /home/thinclient/config

[Install]
WantedBy=multi-user.target
