[Unit]
Description=Thin Client CertManager
After=NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/bin/sh -c 'shopt -s nullglob; cp -f /boot/ssl/* /usr/local/share/ca-certificates/ 2>/dev/null || true'
ExecStartPost=/bin/sh -c 'shopt -s nullglob; /usr/sbin/update-ca-certificates || true'
ExecStartPost=/bin/sh -c 'rsync -a --delete /etc/ssl/certs/ /opt/Citrix/ICAClient/keystore/cacerts/'
ExecStartPost=/bin/sh -c '/opt/Citrix/ICAClient/util/ctx_rehash'

[Install]
WantedBy=multi-user.target
