[Unit]
Description=Disable Wifi Powersave
After=dhcpcd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/iw wlan0 set power_save off

[Install]
WantedBy=multi-user.target
